@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab'), url(../fonts/Roboto_Slab/static/RobotoSlab-Light.ttf);
}

.professionalHistory {
    font-family: 'Roboto Slab';
    background-color: #D7E2BA;
    width: 100%;
}