.AboutMe {
    background-image: url("./tile_background.png");
    width: 100%;
    height: fit-content;
}

#HeidiDescription {
    background-color: #d8dde7;
    width: fit-content;
    height: fit-content;
}

/* .HeidiHeadshot {
    size: 20%;
} */

/* #AboutMeRow{
    margin    
} */

#AboutMeColHeadshot {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .AboutMe {
        height: fit-content;
    }
}


